.logo_font{
    font-family: Anton;
    font-size: 32px;
    font-weight: 400;
    line-height: 48.17px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #151515;
}