.card {
    width: 450px;
    height: 500px;
    border-radius: 10%;
    margin-left: 4rem;
    position: relative;
}
.card-img img{
    border-radius: 10%;
}
.card-info{
    position: absolute;
    top: 25%;
    left: 4%;
}
